body,
html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* Add/Edit Page Structure */
.content {
    margin-left: 20px
}

.left {
  width:32%;
  height: 100%;
  float: left;
  border-right: 1px solid black;
}

.middle {
  width:32%;
  height:100%;
  float:left;
  border-right: 1px solid black;
}

.right {
  width:33%;
  height:100%;
  float:left;
  background: #f4f6f9;
}

.edit--header--banner {
  border-bottom: 1px solid rgba(200, 200, 200, .8);
  height: 100px;
}

.addEdit-header {
  display: inline-block;
  margin-left: 40px;
  font-size: 30px;
  font-weight: 600;
  line-height: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

.addEdit-header--buttons {
  float: right;
  display: inline-block;
  margin-right: 40px;
  margin-top: 25px;
}

.cta-button {
  display: inline-block;
  width: 150px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}

.save-calendar--btn {
  color: white;
  border: 1px solid #607CCB;
  background-color: #607CCB;
}

.add-calendar--cancel-btn {
  font-weight: medium
  color: black;
  background-color: transparent;
  margin-right: 15px;
}

.form-event {
  margin-left: 30px;
}

.form--type-radio {
  width: 300px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.form--type-radio span {
  font-weight: bold;
}

input[type=radio] {
  margin-left: 35px;
  margin-right: 10px;
  transform: scale(1.5);
}

.form--title-input input {
  height: 50px;
  width: 350px;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 30px;
  border-top: none;
  border-right: none;
  border-left: none;
  padding-left: 1px;
  border-bottom: 1px solid rgba(140, 140, 140, 0.5);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(180, 180, 180, 1);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(180, 180, 180, 1);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(180, 180, 180, 1);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(180, 180, 180, 1);
}
