body,
html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.side-panel {
}

.application-container {
  margin-bottom: 40px;
}

.calendar-container {
  width: 75%;
  right: 30px;
  top: 40px;
  height: 600px;
  position: absolute;
  overflow-y: scroll;
  z-index: 1;
}

.cells {
  position: relative;
  right: 0;
  margin-right: 30px;
  font-size: 0;
}

.timeslot-cell {
  height: 80px;
  width: 90px;
  font-size: 13px;
  border: 1px solid transparent;
  text-align: right;
  margin-right: 10px;
  z-index: -1;
}

.timeslot--header {
  color: white;
}

.date--header {
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  width: 110px;
}

.current-day--header {
  color: #607CCB;
  font-size: 14px;
}

.calendar-cell {
  border: 1px solid #E0E0E0;
  border-bottom: 0px;
  height: 40px;
  width: 110px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

/* Adds a bottom border to the last element */
.calendar-cell--last {
  border: 1px solid #E0E0E0;
}

.calendar-cell:hover {
  background-color: #BDBDBD;
}

.calendar-column {
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
}

.calendar-column--timeslots {
  width: 50px;
}

.side-panel--content {
  position: absolute;
  top: 330px;
  left: 55px;
}

.add-event--btn {
  border: 1px solid #607CCB;
  width: 200px;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #607CCB;
  border-radius: 30px;
  text-align: center;
  color: white;
  font-size: 13px;
  line-height: 30px;
  cursor: pointer;
  z-index: 30;
}

.view-filter {
  margin-top: 20px;
  cursor: pointer;
  font-size: 13px;
}

.calendar-dropdown {
  display: inline-block;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.dropdown-select {
  width: 150px;
  margin-left: 15px;
}

.action {
  font-size: 13px;
  margin-top: 13px;
  cursor: pointer;
  font-weight: bold;
}



/* Calendar Event Styles */
.calendar-event {
  font-size: 12px;
  color: white;
  position: relative;
  width: 110px;
}

.calendar-event p {
  margin-left: 5px;
  font-weight: bold;
  margin-bottom: 0;
}

.calendar-event span {
  margin-left: 5px;
}

.timeblock--30 {
  height: 80px;
}

.timeblock--60 {
  height: 120px;
}

.timeblock--120 {
  height: 240px;
}

.timeblock-1 {
  background-color: #CC739E;
  margin-top: -1900px;
}

.timeblock-2 {
  background-color: #7CB9CA;
  margin-top: -1700px;
}

.timeblock-3 {
  background-color: #D5A883;
  margin-top: -1750px;
}

.timeblock-4 {
  background-color: #D5A883;
  margin-top: -1450px;
}

.timeblock-5 {
  background-color: #CC739E;
  margin-top: -1550px;
}

.block-text {
  z-index: 100;
}
