body,
html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.side-panel {
}

.application-container {
  margin-bottom: 40px;
}

.calendar-container {
  width: 75%;
  right: 30px;
  top: 40px;
  height: 600px;
  position: absolute;
  overflow-y: scroll;
  z-index: 1;
}

.cells {
  position: relative;
  right: 0;
  margin-right: 30px;
  font-size: 0;

}

.timeslot-cell {
  height: 80px;
  width: 90px;
  font-size: 13px;
  border: 1px solid transparent;
  text-align: right;
  margin-right: 10px;
  z-index: -1;
}


.timeslot--header {
  color: white;
}

.date--header {
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  width: 110px;
}

.current-day--header {
  color: #607CCB;
  font-size: 14px;
<<<<<<< HEAD
  width: 120px;
=======
>>>>>>> e6991f525b599672de69e8d6fdf1855df76c431a
}

.calendar-cell {
  border: 1px solid #E0E0E0;
  border-bottom: 0px;
  height: 40px;
  width: 110px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

/* Adds a bottom border to the last element */
.calendar-cell--last {
  border: 1px solid #E0E0E0;
}

.calendar-cell:hover {
  background-color: #BDBDBD;
}

.calendar-column {
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
}

.calendar-column--timeslots {
  width: 50px;
}

<<<<<<< HEAD
/* Add/Edit Page Structure */
.left {
  width:33%;
  height: 100%;
  float:left;
}

.middle {
  width:33%;
  height:100%;
  float:left
}

.right {
  width:33%;
  height:100%;
  float:left
}

.timeslot-cell-thin {
  height: 30px;
  width: 90px;
  font-size: 15px;
  border: 1px solid transparent;
  text-align: right;
}

.calendar-cell-wide {
  border: 1px solid #E0E0E0;
  border-bottom: 0px;
  height: 15px;
  width: 120px;
  cursor: pointer;
}

.calendar-container {
  width: 90%;
  margin: 0 auto;
  height: 300px;
  position: relative;
  overflow-y: scroll;
=======
.add-event--btn {
  position: absolute;
  top: 330px;
  left: 70px;

  border: 1px solid #607CCB;
  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #607CCB;
  border-radius: 30px;
  text-align: center;
  color: white;
  font-size: 13px;
  line-height: 30px;
}



/* Calendar Event Styles */
.calendar-event {
  width: 110px;
}

.timeblock--30 {
  height: 80px;
}

.timeblock--60 {
  height: 120px;
}

.timeblock--120 {
  height: 240px;
}

.timeblock-1 {
  background-color: #CC739E;
  margin-top: -1900px;
}

.timeblock-2 {
  background-color: #7CB9CA;
  margin-top: -1700px;
}

.timeblock-3 {
  background-color: #D5A883;
  margin-top: -1750px;
}

.timeblock-4 {
  background-color: #D5A883;
  margin-top: -1450px;
}

.timeblock-5 {
  background-color: #CC739E;
  margin-top: -1550px;
}

.timeblock-6 {
  background-color: #7CB9CA;
  margin-top: -1330px;
>>>>>>> e6991f525b599672de69e8d6fdf1855df76c431a
}
